<template>
  <div class="fixed overflow-x-hidden overflow-y-auto inset-0 flex justify-center items-center z-20" v-if="isModalVisible">
    <div @click="onCancel()" v-bind:class="[isModalVisible && 'dark-modal-background']"></div>
    <div class="absolute mx-auto sm:w-1/2 md:w-96 z-50">
      <div class="bg-gray-100 w-full rounded shadow-2xl flex flex-col text-left">
        <div class="mt-2 p-6">
          <div class="text-2xl font-bold text-center pb-2">
            {{ headerText }}
          </div>
          <slot></slot>
          <div class="flex justify-center mx-auto mt-6">
            <button class="rounded bg-gray-700 hover:bg-gray-900 text-white px-4 sm:px-6 py-2 mx-2 z-10" @click="onCancel()">
              Annuleren
            </button>
            <button class="bg-red-600 hover:bg-red-700 rounded text-white px-4 sm:px-6 py-2 mx-2 z-10" @click="onDelete()">
              Verwijderen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    headerText: String,
    isModalVisible: Boolean,
    onCancel: Function,
    onDelete: Function,
  },
});
</script>
<style src="@/components/modals/Modal.scss" scoped lang="scss" />
