<template>
  <div class="fixed overflow-x-hidden overflow-y-auto inset-0 flex justify-center items-center z-20" v-if="isModalVisible">
    <div @click="onCancel()" v-bind:class="[isModalVisible && 'dark-modal-background']"></div>
    <div class="relative mx-auto w-full sm:w-3/4 max-w-2xl z-50">
      <div @keydown.enter="onSave()" class="bg-gray-100 w-full rounded shadow-2xl flex flex-col text-left">
        <div class="mt-2 p-6">
          <div class="text-2xl font-bold text-center pb-2">
            {{ headerText }}
          </div>
          <slot></slot>
          <div class="flex justify-end mt-6 ml-auto">
            <button class="rounded bg-gray-700 hover:bg-gray-900 text-white px-4 sm:px-6 py-2 mx-2 z-10" @click="onCancel()">
              Annuleren
            </button>
            <button class="bg-green-500 hover:bg-green-600 rounded text-white px-4 sm:px-6 py-2 mx-2 z-10" @click="onSave()">
              {{ !isEdit ? 'Toevoegen' : 'Aanpassen' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    headerText: String,
    isModalVisible: Boolean,
    isEdit: Boolean,
    onCancel: Function,
    onSave: Function,
  },
});
</script>
<style src="@/components/modals/Modal.scss" scoped lang="scss" />
