.dark-modal-background:before {
  content: '';
  display: block;
  position: fixed;
  z-index: 40;
  height: 100%;
  width: 100%;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
}
