<template>
  <div
      class="min-h-screen flex items-center justify-center background-login tra py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="background-opacity"></div>
    <div class="inner-login z-10 bg-gray-50 max-w-md w-full space-y-8">
      <img
          src="@/assets/images/logo/AQM-logo-trans.png"
          alt="Logo Air Quality Monitor"
          class="w-2/3 m-auto"
      />
      <div class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div v-if="token">
            <input
                v-model="password"
                id="password"
                name="password"
                type="password"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Wachtwoord"
            />
            <label for="password" class="sr-only"> {{ password }}</label>
          </div>
          <div v-else>
            <input
                v-model="email"
                id="email"
                name="email"
                type="email"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="E-mail"
            />
            <label for="email" class="sr-only"> {{ email }}</label>
          </div>
        </div>
        <button
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-3 mb-3"
            v-on:click="resetPassword()"
        >
          Wachtwoord herstellen
        </button>
        <button
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            v-on:click="$router.push({name: 'login'})"
        >
          Naar login
        </button>
      </div>
    </div>
  </div>
</template>

<script src="@/views/ResetPassword/ResetPassword.ts" lang="ts" />
