<template>
  <div style="position: relative; width: 100%;width: -webkit-fill-available;height: 100%;height: -webkit-fill-available;">
    <canvas ref="canvas" class="floor-canvas" width="100" height="100"/>
    <DevicePopup v-if="activeDevice" :device="activeDevice" :x="activeDevice.x" :y="activeDevice.y" @close="closePopup"/>
  </div>
</template>
<script lang="ts" src="./FloorMap.ts" />
