<template>
  <div
      ref="popup"
      class="device-popup bg-gray-100 rounded shadow-2xl flex flex-col text-left"
      :class="[`arrow-${arrowClass}`]"
      :style="{left: `${xOffset}px`, top: `${yOffset}px`}"
  >
    <div class="mt-2 p-6">
      <div class="text-xl font-bold text-center pb-2">
        {{ device.id }}
      </div>
      <slot></slot>
      <div class="flex justify-end mt-6 ml-auto">
        <button
            class="rounded bg-gray-700 hover:bg-gray-900 text-white px-4 sm:px-6 py-2 mx-2 z-10"
            @click="$emit('close')"
        >
          Sluiten
        </button>
        <button
            class="bg-green-500 hover:bg-green-600 rounded text-white px-4 sm:px-6 py-2 mx-2 z-10"
        >
          <!--            @click="onSave()"-->
          {{ !true ? 'Toevoegen' : 'Aanpassen' }}
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./DevicePopup.ts"/>
