$default-arrow-size: 20px;
.device-popup {
  position: absolute;
  min-width: 15rem;
  min-height: 5rem;
  max-width: 80vw;

  --arrow-border-color: rgba(243, 244, 246, var(--tw-bg-opacity));

  &:after {
    content: '';
    position: absolute;

    width: 0;
    height: 0;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    top: var(--arrow-top);
    bottom: var(--arrow-bottom);
    left: var(--arrow-left);
    right: var(--arrow-right);

    border-top: var(--border-top-width, #{$default-arrow-size}) solid var(--arrow-top-color, transparent);
    border-right: var(--border-right-width, #{$default-arrow-size}) solid var(--arrow-right-color, transparent);
    border-bottom: var(--border-bottom-width, #{$default-arrow-size}) solid var(--arrow-bottom-color, transparent);
    border-left: var(--border-left-width, #{$default-arrow-size}) solid var(--arrow-left-color, transparent);

    margin: var(--arrow-margin-top, 0) var(--arrow-margin-right, 0) var(--arrow-margin-bottom, 0) var(--arrow-margin-left, 0);
  }

  &.arrow-bottom {
    --arrow-bottom: 0;
    --arrow-left: 50%;
    --border-bottom-width: 0;
    --arrow-top-color: var(--arrow-border-color);
    --arrow-margin-left: -#{$default-arrow-size};
    --arrow-margin-bottom: -#{$default-arrow-size};
  }

  &.arrow-top {
    --arrow-top: 0;
    --arrow-left: 50%;
    --border-top-width: 0;
    --arrow-bottom-color: var(--arrow-border-color);
    --arrow-margin-top: -#{$default-arrow-size};
    --arrow-margin-left: -#{$default-arrow-size};
  }

  &.arrow-left {
    --arrow-top: 50%;
    --arrow-left: 0;
    --border-left-width: 0;
    --arrow-right-color: var(--arrow-border-color);
    --arrow-margin-top: -#{$default-arrow-size};
    --arrow-margin-left: -#{$default-arrow-size};
  }

  &.arrow-right {
    --arrow-top: 50%;
    --arrow-right: 0;
    --border-right-width: 0;
    --arrow-left-color: var(--arrow-border-color);
    --arrow-margin-top: -#{$default-arrow-size};
    --arrow-margin-right: -#{$default-arrow-size};
  }
}
