.background-login {
    position: relative;
    background-image: url("../../assets/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.background-opacity {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.inner-login {
    padding: 40px;
    border-radius: 10px;
}