<template>
  <div class="max-w-6xl mx-auto px-1 py-2" @keydown.esc="hideModal()">
    <div class="md:flex">
      <button
        v-if="adminMode"
        type="button"
        class="bg-indigo-600 ml-auto w-full md:w-1/4 hover:bg-indigo-700 text-white text-base font-semibold mt-5 py-2 rounded-lg focus:outline-none"
        v-on:click="toggleModal('create')"
      >
        Gebouw toevoegen
      </button>
      <search-bar @input="searchBuilding($event.target.value)" :class="adminMode ? 'md:ml-2 lg:ml-5' : 'ml-auto'" />
    </div>
    <div v-if="buildings.length == 0">
      <h1>Geen resultaten</h1>
    </div>
    <div v-for="building in buildings" :key="building">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 sm:px-8 sm:pt-10 sm:pb-2 sm:gap-x-8 sm:border sm:border-gray-300 sm:bg-gray-50 sm:mx-auto my-8 sm:rounded-md"
      >
        <div class="relative z-10 col-start-1 row-start-1 px-4 mobile-padding pb-3 bg-gradient-to-t from-black sm:bg-none">
          <h2 class="text-xl font-semibold mobile-text sm:text-2xl sm:leading-7 default-text">
            {{ building.name }}
          </h2>
        </div>
        <div class="col-start-1 row-start-2 px-4">
          <div class="items-center text-sm font-medium my-5 sm:mt-2 sm:mb-4">
            <div class="m-auto">
              <span class="text-black"
                >Aantal sensoren · <b>{{ building?.stats?.device_count }}</b></span
              >
            </div>
          </div>
          <hr class="m-auto w-16 border-gray-300 hidden sm:block" />
          <div class="items-center text-sm font-medium my-5 sm:mt-2 sm:mb-4">
            <div class="text-center">
              <span v-if="getGrade(building) == 0" class="text-black">Score · <b class="text-gray-400"> - </b></span>
              <span v-if="getGrade(building) == 1" class="text-black"
                >Score · <b class="text-red-400">{{ building?.stats?.score }}</b></span
              >
              <span v-if="getGrade(building) == 2" class="text-black"
                >Score · <b class="text-yellow-400">{{ building?.stats?.score }}</b></span
              >
              <span v-if="getGrade(building) == 3" class="text-black"
                >Score · <b class="text-green-400">{{ building?.stats?.score }}</b></span
              >
            </div>
          </div>
        </div>
        <div class="col-start-1 row-start-3">
          <button
            type="button"
            class="bg-indigo-600 hover:bg-indigo-700 text-white text-base font-semibold px-6 py-2 rounded-lg"
            v-on:click="selectBuilding(building.id)"
          >
            Selecteer
          </button>
        </div>
        <div class="col-start-1 row-start-1 flex sm:col-start-2 sm:row-span-3">
          <div class="w-full grid grid-cols-3 grid-rows-2 gap-2">
            <div class="relative col-span-3 row-span-2">
              <img v-bind:src="`${getImage(building)}`" alt="" class="w-full object-cover bg-gray-100 sm:rounded-lg" />
            </div>
          </div>
        </div>
        <div class="col-start-1 sm:col-start-2 sm:row-start-4 my-4 sm:ml-auto">
          <button
            v-if="adminMode"
            type="button"
            class="p-2 mx-2 text-sm rounded-md text-white bg-yellow-300 hover:bg-yellow-500 focus:outline-none"
            v-on:click="toggleModal('edit', building)"
          >
            <edit-icon className="h-6 w-6" />
          </button>
          <button
            v-if="adminMode"
            type="button"
            class="p-2 mx-2 sm:mx-0 sm:mr-1 text-sm rounded-md text-white bg-red-700 hover:bg-red-800 focus:outline-none"
            v-on:click="toggleModal('delete', building)"
          >
            <delete-icon className="h-6 w-6" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <modal headerText="Gebouw toevoegen" :isModalVisible="activeModal == 'create'" :onCancel="hideModal" :onSave="createBuilding">
    <label for="name" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Naam </label>
    <input
      v-model="name"
      id="name"
      type="name"
      name="name"
      placeholder="Naam gebouw"
      class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
      required
    />
    <label for="name" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && buildingAlreadyExists(name)"
      >Naam van het gebouw is al in gebruik
    </label>
    <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Afbeelding</label>
    <input ref="upload" type="file" name="file-upload" accept="image/jpg, image/jpeg, image/png" v-on:change="handleFileUpload" />
    <label for="file-upload" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && image && !isValidImage(image)"
      >Geen geldige afbeelding opgegeven
    </label>
  </modal>
  <modal headerText="Gebouw aanpassen" :isModalVisible="activeModal == 'edit'" :onCancel="hideModal" :onSave="editBuilding" isEdit>
    <label for="name" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Naam </label>
    <input
      v-model="name"
      id="name"
      type="name"
      name="name"
      placeholder="Naam gebouw"
      class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
      required
    />
    <label for="name" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && buildingAlreadyExists(name)"
      >Naam van het gebouw is al in gebruik
    </label>
    <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Afbeelding</label>
    <input ref="upload" type="file" name="file-upload" accept="image/jpg, image/jpeg, image/png" v-on:change="handleFileUpload" />
    <label for="file-upload" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && image && !isValidImage(image)"
      >Geen geldige afbeelding opgegeven
    </label>
  </modal>
  <delete-modal headerText="Gebouw verwijderen" :isModalVisible="activeModal == 'delete'" :onCancel="hideModal" :onDelete="deleteBuilding">
    <label class="block text-center mt-4 text-gray-600"
      >Weet u zeker dat u <b>{{ selectedBuilding.name }}</b> wilt verwijderen?
    </label>
  </delete-modal>
</template>
<script src="@/views/Building/BuildingOverview.ts" lang="ts" />
<style src="./BuildingOverview.scss" scoped lang="scss" />
