<template>
  <div>
    <span v-if="!building">Gebouw ophalen</span>
    <template v-if="building">
      <button
        v-if="adminMode"
        type="button"
        class="bg-indigo-600 ml-auto w-full md:w-1/4 hover:bg-indigo-700 text-white text-base font-semibold mt-5 py-2 rounded-lg"
        v-on:click="toggleModal('create')"
      >
        Verdieping toevoegen
      </button>
      <div class="w-full max-w-screen-xl mx-auto px-6">
        <div class="flex justify-center p-4 px-3 py-10">
          <div class="w-full max-w-md">
            <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
              <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
                {{ building.name }}
              </div>
              <div class="py-3 text-sm">
                <div v-for="floor in building.floors" :key="floor" class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-2 py-2 my-2">
                  <span v-if="getGrade(floor) == 0" class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                  <span v-if="getGrade(floor) == 1" class="bg-red-400 h-2 w-2 m-2 rounded-full"></span>
                  <span v-if="getGrade(floor) == 2" class="bg-yellow-400 h-2 w-2 m-2 rounded-full"></span>
                  <span v-if="getGrade(floor) == 3" class="bg-green-400 h-2 w-2 m-2 rounded-full"></span>
                  <div 
                    class="flex-grow font-medium px-2"
                    v-on:click="selectFloor(floor.id)"
                  > 
                    Verdieping <b>{{ floor.level }}</b>
                  </div>
                  <div v-on:click="selectFloor(floor.id)">
                    Aantal sensoren · <b>{{ floor?.stats?.device_count }}</b>
                  </div>
                  <div v-if="adminMode" class="col-start-1 sm:col-start-2 sm:row-start-4 my-1 sm:ml-auto">
                    <button
                      type="button"
                      class="p-2 mx-2 text-sm rounded-md text-white bg-yellow-300 hover:bg-yellow-500 focus:outline-none"
                      v-on:click="toggleModal('edit', floor)"
                    >
                      <edit-icon className="h-6 w-6" />
                    </button>
                    <button
                      type="button"
                      class="p-2 mx-2 sm:mx-0 sm:mr-1 text-sm rounded-md text-white bg-red-700 hover:bg-red-800 focus:outline-none"
                      v-on:click="toggleModal('delete', floor)"
                    >
                      <delete-icon className="h-6 w-6" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
    <modal headerText="Verdieping toevoegen" :isModalVisible="activeModal == 'create'" :onCancel="hideModal" :onSave="createFloor">
    <label for="name" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Verdieping </label>
    <input
      v-model="level"
      id="level"
      type="number"
      name="level"
      class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
      required
    />
    <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Afbeelding</label>
    <input ref="upload" type="file" name="file-upload" accept="image/jpg, image/jpeg, image/png" v-on:change="handleFileUpload" />
  </modal>
  <modal headerText="Verdieping aanpassen" :isModalVisible="activeModal == 'edit'" :onCancel="hideModal" :onSave="editFloor" isEdit>
    <label for="level" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Verdieping </label>
    <input
      v-model="selectedFloor.level"
      id="level"
      type="number"
      name="level"
      class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
      required
    />
    <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Afbeelding</label>
    <input ref="upload" type="file" name="file-upload" accept="image/jpg, image/jpeg, image/png" v-on:change="handleFileUpload" />
  </modal>
  <delete-modal headerText="Verdieping verwijderen" :isModalVisible="activeModal == 'delete'" :onCancel="hideModal" :onDelete="deleteFloor">
    <label class="block text-center mt-4 text-gray-600"
      >Weet u zeker dat u <b>verdieping {{ selectedFloor.level }}</b> wilt verwijderen?
    </label>
  </delete-modal>
</template>
<script src="@/views/Building/BuildingDetail.ts" lang="ts" />
<style src="./BuildingDetail.scss" scoped lang="scss" />
