@import '../../App.scss';

.mobile-text {
  @media (max-width: 640px) {
    color: white;
  }
}

.mobile-padding {
  @media (max-width: 640px) {
    padding-top: 10rem;
    height: 100%;
  }
}

/** Active/Inactive toggle */
.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: $primary-color;
}
