<template>
  <div class="flex h-screen">
    <div class="flex-1 flex flex-col overflow-hidden">
      <main class="flex-1 overflow-x-hidden overflow-y-auto">
        <div class="container mx-auto px-6 py-8">
          <h3 class="text-gray-700 text-3xl font-medium">
            <div v-if="isActive">
                <h1>{{ floor.building.name }}</h1>
                <h2>Verdieping {{ floor.level }}</h2>
            </div>
          </h3>
          <div style="height: 25rem;width: 100%;width: -webkit-fill-available;">
            <FloorMap 
              :floor="floor" 
              :devices="floor?.devices || []"
            />
          </div>
          <div class="mt-8 bg-gray-50">
            <div class="w-full text-center mx-auto">
              <div class="mt-2 relative">
                <label for="filter" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Filter</label>
                <button
                  id="filter"
                  type="button"
                  aria-haspopup="listbox"
                  aria-expanded="true"
                  aria-labelledby="listbox-label"
                  class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 cursor-pointer focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 text-sm"
                  v-on:click="toggleFilterSelection = !toggleFilterSelection"
                >
                  <span class="flex items-center">
                    {{ currentFilter ? currentFilter.text : 'Kies een filter' }}
                  </span>
                  <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                    <higher-lower-icon />
                  </span>
                </button>
                <div class="absolute mt-1 w-full rounded-md bg-white shadow-lg" :class="toggleFilterSelection ? 'opacity-100 z-20' : 'opacity-0 z-0'">
                  <ul
                    v-if="toggleFilterSelection"
                    tabindex="-1"
                    role="listbox"
                    aria-labelledby="listbox-label"
                    aria-activedescendant="listbox-item-3"
                    class="max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
                    v-on:click="toggleFilterSelection = !toggleFilterSelection"
                  >
                    <li
                      v-for="filter in filters"
                      :key="filter"
                      id="listbox-item-{{`${filter.key}`}}"
                      role="option"
                      class="text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9"
                      v-on:click="setCurrentFilter(filter)"
                    >
                      <div class="flex items-center">
                        <span class="ml-3 block font-normal truncate font-semibold">
                          {{ filter.text }}
                        </span>
                      </div>
                      <span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4" v-if="currentFilter == filter">
                        <checkmark-icon />
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mt-2 relative">
                <label for="filter" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Data</label>
                <button
                  id="filter"
                  type="button"
                  aria-haspopup="listbox"
                  aria-expanded="true"
                  aria-labelledby="listbox-label"
                  class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 cursor-pointer focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 text-sm"
                  v-on:click="toggleDataTypeSelection = !toggleDataTypeSelection"
                >
                  <span class="flex items-center">
                    {{ currentDataType ? currentDataType.text : 'Kies een data type' }}
                  </span>
                  <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                    <higher-lower-icon />
                  </span>
                </button>
                <div class="absolute mt-1 w-full rounded-md bg-white shadow-lg" :class="toggleDataTypeSelection ? 'opacity-100 z-20' : 'opacity-0 z-0'">
                  <ul
                    v-if="toggleDataTypeSelection"
                    tabindex="-1"
                    role="listbox"
                    aria-labelledby="listbox-label"
                    aria-activedescendant="listbox-item-3"
                    class="max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
                    v-on:click="toggleDataTypeSelection = !toggleDataTypeSelection"
                  >
                    <li
                      v-for="dataType in dataTypes"
                      :key="dataType"
                      id="listbox-item-{{`${dataType.id}`}}"
                      role="option"
                      class="text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9"
                      v-on:click="setCurrentDataType(dataType)"
                    >
                      <div class="flex items-center">
                        <span class="ml-3 block font-normal truncate font-semibold">
                          {{ dataType.text }}
                        </span>
                      </div>
                      <span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4" v-if="currentDataType == dataType">
                        <checkmark-icon />
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div ref="chart"></div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>
<script src="@/views/Floor/FloorDetail.ts" lang="ts" />