<template>
  <div class="my-auto mx-auto">
    <article class="py-12 px-4">
      <h1 class="text-4xl text-center mb-4 font-semibold font-heading font-semibold">Over Air Quality</h1>

      <div class="max-w-3xl mx-auto">
        <p class="mb-4 text-lg font-semibold mb-2 text-justify">
          Deze website is van het team Air Quality van de Hogeschool van Amsterdam.
          Deze website is ontstaan door het project Internet of Things.
          Deze website is gemaakt om data van luchtkwaliteit in kaart te brengen. 
          Het doel van het project is een IoT apparaat maken dat ervoor zorgt dat de luchtkwaliteit meet van een locatie, en dit weergeeft in een webapplicatie. 
          Hieruit moet duidelijk worden of de locatie voldoet aan de eisen van de luchtkwaliteit van het bouwbesluit.
        </p>
      </div>
    </article>
  </div>
</template>
