<template>
  <div class="w-auto lg:w-1/3 ml-auto flex rounded-full border-grey-light border px-5 mx-3 mt-5">
    <input class="w-full rounded mr-4 focus:outline-none" type="text" placeholder="Zoek" />
    <button>
      <span class="flex justify-end items-center text-grey p-2">
        <SearchIcon />
      </span>
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SearchIcon from '../icons/SearchIcon.vue';

export default defineComponent({
  components: {
    SearchIcon,
  },
});
</script>
