<template>
  <section class="text-black" @keydown.esc="hideModal()">
    <div class="max-w-6xl mx-auto px-1 py-2">
      <div class="md:flex">
        <button
          type="button"
          class="bg-indigo-600 ml-auto w-full md:w-1/4 hover:bg-indigo-700 text-white text-base font-semibold mt-5 py-2 rounded-lg focus:outline-none"
          v-on:click="toggleCreateModal(!isCreateModalVisible)"
        >
          Gebruiker toevoegen
        </button>
        <div class="flex flex-row">
          <div v-on:click="toggleFilter()" class="cursor-pointer md:ml-3 relative">
            <div class="px-3 mt-7">
              <filter-icon />
            </div>
            <div
              v-bind:class="[isFilterActive ? 'block' : 'hidden']"
              class="origin-top-right absolute left-0 md:left-auto md:right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu"
            >
              <ul
                tabindex="-1"
                role="listbox"
                aria-labelledby="listbox-label"
                aria-activedescendant="listbox-item-3"
                class="max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
                @click="toggleRoleSelection = !toggleRoleSelection"
              >
                <li
                  v-for="role in roles"
                  :key="role"
                  id="listbox-item-{{role}}"
                  role="option"
                  class="text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9"
                  @click="getUsersWithRole(role)"
                >
                  <div class="flex items-center">
                    <span class="ml-3 block font-normal truncate capitalize" :class="filteredRole == role && ['font-semibold']">
                      {{ role }}
                    </span>
                  </div>
                  <span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4" v-if="filteredRole == role">
                    <checkmark-icon />
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <search-bar @input="searchUser($event.target.value)" class="md:ml-2 lg:ml-4 lg:w-full w-3/4" />
        </div>
      </div>
      <div v-for="user in users" :key="user.id" class="p-2">
        <div class="border border-gray-300 p-5 sm:p-3 rounded-md bg-gray-50 text-left">
          <h2 class="text-lg font-medium title-font mb-2">
            {{ user.email }}
          </h2>
          <div class="leading-relaxed text-base">
            <div class="user-management-grid sm:w-28 capitalize">
              <b>Rol</b>
              <p>{{ user.role }}</p>
            </div>
            <div v-if="user.created_at" class="user-management-grid">
              <b>Aangemaakt op</b>
              <p>{{ convertDateToDutchFormat(user.created_at) }}</p>
            </div>
            <div v-if="user.disabled_at" class="user-management-grid">
              <b v-if="user.disabled_at">{{ new Date() > new Date(user.disabled_at) ? 'Verlopen op' : 'Verloopt op' }}</b>
              <p :class="new Date() > new Date(user.disabled_at) && ['font-bold text-red-500']">
                {{ convertDateToDutchFormat(user.disabled_at) }}
              </p>
            </div>
            <div class="user-management-buttons">
              <div class="items-center justify-center w-28">
                <label class="flex items-center cursor-pointer">
                  <div class="relative">
                    <input
                      :disabled="loggedInUser.id == user.id"
                      :checked="isActiveUser(user)"
                      id="{{user.id}}"
                      type="checkbox"
                      class="hidden"
                      v-on:click="toggleActiveUser(user)"
                      :class="loggedInUser.id === userId && 'opacity-50'"
                    />
                    <div
                      class="toggle__line w-10 h-4 rounded-full shadow-inner bg-gray-400"
                      :class="loggedInUser.id === user.id && 'opacity-50'"
                    ></div>
                    <div
                      class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0 "
                      :class="loggedInUser.id === user.id && 'opacity-50'"
                    ></div>
                  </div>
                  <div class="ml-3 font-medium" :class="loggedInUser.id !== user.id ? 'text-gray-700' : 'text-gray-700 opacity-50'">
                    {{ isActiveUser(user) ? 'Actief' : 'Inactief' }}
                  </div>
                </label>
              </div>

              <div class="user-management-buttons-right">
                <button
                  class="p-2 mx-2 text-sm rounded-md text-white bg-yellow-300 hover:bg-yellow-500 focus:outline-none"
                  v-on:click="toggleEditModal(!isEditModalVisible, user)"
                >
                  <edit-icon className="h-6 w-6" />
                </button>
                <button
                  :disabled="loggedInUser.id == user.id"
                  :class="loggedInUser.id === user.id && 'opacity-50'"
                  class="p-2 mx-2 sm:mx-0 sm:mr-1 text-sm rounded-md text-white bg-red-700 hover:bg-red-800 focus:outline-none"
                  v-on:click="toggleDeleteModal(!isDeleteModalVisible, user)"
                >
                  <delete-icon className="h-6 w-6" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10" v-if="users.length == 0">
      <h1>Geen gebruikers gevonden</h1>
    </div>
    <modal headerText="Gebruiker toevoegen" :isModalVisible="isCreateModalVisible" :onCancel="hideModal" :onSave="createUser">
      <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail </label>
      <input
        v-model="email"
        id="email"
        type="email"
        name="email"
        placeholder="gebruiker@email.nl"
        autocomplete="email"
        class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
        required
      />
      <label for="email" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && !isEmailValid(email)"
        >Vul een correct e-mailadres in
      </label>
      <label for="email" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && emailAlreadyExists(email)"
        >Dit e-mailadres bestaat al
      </label>
      <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Wachtwoord </label>
      <input
        v-model="password"
        id="password"
        type="password"
        name="password"
        placeholder="********"
        autocomplete="new-password"
        class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
        required
      />
      <label for="email" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && !isPasswordValid(password)"
        >Vul een correct wachtwoord in met minimaal:
        <li>7 tekens</li>
        <li>1 hoofdletter</li>
        <li>1 nummer</li>
        <li>1 speciaal karakter</li>
      </label>
      <label for="password-confirm" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Herhaal wachtwoord </label>
      <input
        v-model="repeatPassword"
        id="password-confirm"
        type="password"
        name="password-confirm"
        placeholder="********"
        autocomplete="new-password"
        class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
        required
      />
      <label for="email" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && password !== repeatPassword"
        >De ingevulde wachtwoorden komen niet overeen
      </label>
      <div class="mt-2 relative">
        <label for="role" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Rol</label>
        <button
          id="role"
          type="button"
          aria-haspopup="listbox"
          aria-expanded="true"
          aria-labelledby="listbox-label"
          class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 cursor-pointer focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 text-sm"
          @click="toggleRoleSelection = !toggleRoleSelection"
        >
          <span class="flex items-center">
            {{ currentRole || 'Kies een rol' }}
          </span>
          <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
            <higher-lower-icon />
          </span>
        </button>
        <div class="absolute mt-1 w-full rounded-md bg-white shadow-lg" :class="toggleRoleSelection ? 'opacity-100 z-20' : 'opacity-0 z-0'">
          <ul
            v-if="toggleRoleSelection"
            tabindex="-1"
            role="listbox"
            aria-labelledby="listbox-label"
            aria-activedescendant="listbox-item-3"
            class="max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
            @click="toggleRoleSelection = !toggleRoleSelection"
          >
            <li
              v-for="role in roles"
              :key="role"
              id="listbox-item-{{role}}"
              role="option"
              class="text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9"
              @click="setCurrentRole(role)"
            >
              <div class="flex items-center">
                <span class="ml-3 block font-normal truncate capitalize" :class="currentRole == role && ['font-semibold']">
                  {{ role }}
                </span>
              </div>
              <span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4" v-if="currentRole == role">
                <checkmark-icon />
              </span>
            </li>
          </ul>
        </div>
        <label for="role" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && !currentRole"
          >Er is geen rol gekozen
        </label>
        <div class="mt-3 relative">
          <label for="disabled_at" class="block text-xs font-semibold text-gray-600 uppercase">Verloopt op (optioneel)</label>
          <input
            v-model="disabledAt"
            id="disabled_at"
            type="text"
            name="disabled_at"
            :placeholder="disabledAtPlaceholder"
            class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 text-sm"
          />
        </div>
      </div>
      <label
        for="disabled_at"
        class="block mt-2 text-xs font-semibold text-red-500"
        v-if="showErrors && disabledAt && !isValidDateString(disabledAt)"
        >Het formaat van de datum klopt niet
      </label>
    </modal>
    <modal headerText="Gebruiker aanpassen" :isModalVisible="isEditModalVisible" :onCancel="hideModal" :onSave="editUser" isEdit>
      <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail </label>
      <input
        v-model="email"
        id="email"
        type="email"
        name="email"
        placeholder="gebruiker@email.nl"
        autocomplete="email"
        class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
        required
      />
      <label for="email" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && !isEmailValid(email)"
        >Vul een correct e-mailadres in
      </label>
      <label for="email" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && emailAlreadyExists(email)"
        >Dit e-mailadres bestaat al
      </label>
      <div class="mt-2 relative">
        <label for="role" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Rol</label>
        <button
          :disabled="loggedInUser.id == userId"
          id="role"
          type="button"
          aria-haspopup="listbox"
          aria-expanded="true"
          aria-labelledby="listbox-label"
          class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 cursor-pointer focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 text-sm"
          :class="loggedInUser.id == userId && 'opacity-50'"
          @click="toggleRoleSelection = !toggleRoleSelection"
        >
          <span class="flex items-center">
            {{ currentRole || 'Kies een rol' }}
          </span>
          <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
            <higher-lower-icon />
          </span>
        </button>
        <div class="absolute mt-1 w-full rounded-md bg-white shadow-lg" :class="toggleRoleSelection ? 'opacity-100 z-20' : 'opacity-0 z-0'">
          <ul
            v-if="toggleRoleSelection"
            tabindex="-1"
            role="listbox"
            aria-labelledby="listbox-label"
            aria-activedescendant="listbox-item-3"
            class="max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
            @click="toggleRoleSelection = !toggleRoleSelection"
          >
            <li
              v-for="role in roles"
              :key="role"
              id="listbox-item-{{role}}"
              role="option"
              class="text-gray-900 cursor-pointer select-none relative py-2 pl-3 pr-9"
              @click="setCurrentRole(role)"
            >
              <div class="flex items-center">
                <span class="ml-3 block font-normal truncate" :class="currentRole == role && ['font-semibold']">
                  {{ role }}
                </span>
              </div>
              <span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4" v-if="currentRole == role">
                <checkmark-icon />
              </span>
            </li>
          </ul>
        </div>
        <label for="role" class="block mt-2 text-xs font-semibold text-red-500" v-if="showErrors && !currentRole"
          >Er is geen rol gekozen
        </label>
        <div class="mt-3 relative">
          <label for="disabled_at" class="block text-xs font-semibold text-gray-600 uppercase">Verloopt op (optioneel)</label>
          <input
            :disabled="loggedInUser.id == userId"
            v-model="disabledAt"
            id="disabled_at"
            type="text"
            name="disabled_at"
            :placeholder="disabledAtPlaceholder"
            class="block w-full p-3 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 text-sm"
          />
        </div>
      </div>
      <label
        for="disabled_at"
        class="block mt-2 text-xs font-semibold text-red-500"
        v-if="showErrors && disabledAt && !isValidDateString(disabledAt)"
        >Het formaat van de datum klopt niet
      </label>
    </modal>
    <delete-modal
      headerText="Gebruiker verwijderen"
      :isModalVisible="isDeleteModalVisible"
      :onCancel="toggleDeleteModal"
      :onDelete="deleteUser"
    >
      <label class="block text-center mt-4 text-gray-600"
        >Weet u zeker dat u <b>{{ userToBeDeleted.email }}</b> wilt verwijderen?
      </label>
    </delete-modal>
  </section>
</template>
<script src="./UserManagement.ts" lang="ts" />
<style src="./UserManagement.scss" scoped lang="scss" />
