@import '../../App.scss';

.user-management-grid {
  display: inline-grid;

  @media (max-width: 640px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0.125rem;
  }

  @media (min-width: 640px) {
    padding: 0 0.5rem;
  }

  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }
}

.user-management-buttons {
  display: inline-flex;
  float: right;

  @media (max-width: 640px) {
    display: flex;
    float: initial;
    margin-top: 0.75rem;
  }

  &-right {
    display: inline-flex;
    margin-left: auto;
  }
}

/** Active/Inactive toggle */
.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: $primary-color;
}
