<template>
  <nav class="bg-gray-800" v-if="isAuthenticated()">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            v-on:click="toggleMobileMenu()"
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              v-bind:class="[isMobileActive ? 'hidden' : 'block']"
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg
              v-bind:class="[isMobileActive ? 'block' : 'hidden']"
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <router-link :to="{ name: 'buildings' }">
              <img class="block lg:hidden h-10 w-auto" src="@/assets/images/logo/AQM-logo-trans-white.png" alt="Logo Air Quality Monitor" />
              <img class="hidden lg:block h-10 w-auto" src="@/assets/images/logo/AQM-logo-trans-white.png" alt="Logo Air Quality Monitor" />
            </router-link>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <router-link :to="{ name: 'buildings' }">
                <p
                  class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-sm font-medium"
                  v-on:click="closeProfile()"
                >
                  Gebouwen
                </p>
              </router-link>
              <router-link v-if="user?.role === 'admin' || user?.role === 'manager'" :to="{ name: 'user-management' }">
                <p
                  class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-sm font-medium"
                  v-on:click="closeProfile()"
                >
                  Gebruikersbeheer
                </p>
              </router-link>
              <router-link :to="{ name: 'about' }">
                <p
                  class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-sm font-medium"
                  v-on:click="closeProfile()"
                >
                  Over ons
                </p>
              </router-link>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <p class="text-gray-300 block px-3 py-2 rounded-md text-sm font-medium">
            {{ user && capatalizeFirstLetter(user.role) }}: {{ user?.email }}
          </p>
          <!-- Profile dropdown -->
          <div v-on:click="toggleProfile()" class="ml-3 relative hide-mobile">
            <div>
              <button
                class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                id="user-menu"
                aria-haspopup="true"
              >
                <span class="sr-only">Open user menu</span>
                <profile-icon class="text-white w-10 h-10" />
              </button>
            </div>
            <div
              v-bind:class="[isProfileActive ? 'block' : 'hidden']"
              class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu"
            >
              <p class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" role="menuitem" v-on:click="logOut()">
                Uitloggen
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu -->
    <div v-bind:class="[isMobileActive ? 'block' : 'hidden']" class="sm:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1 text-left">
        <router-link :to="{ name: 'buildings' }">
          <p
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            v-on:click="closeMobileMenu()"
          >
            Gebouwen
          </p>
        </router-link>
        <router-link v-if="user?.role === 'admin' || user?.role === 'manager'" :to="{ name: 'user-management' }">
          <p
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            v-on:click="closeMobileMenu()"
          >
            Gebruikersbeheer
          </p>
        </router-link>
        <router-link :to="{ name: 'about' }">
          <p
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            v-on:click="closeMobileMenu()"
          >
            Over ons
          </p>
        </router-link>
        <p class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" v-on:click="logOut()">
          Uitloggen
        </p>
      </div>
    </div>
  </nav>
  <router-view />
</template>

<script src="@/App.ts" lang="ts" />
<style src="@/App.scss" lang="scss" />
