$primary-color: #4f46e5;
$text-color: #2c3e50;

#app {
  font-family: Avenir, Helvetica, Arial, fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
}

.router-link-active p {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  border-radius: 0.375rem;
  color: white;
}

.highcharts-credits {
  display: none !important;
}

.hide-mobile {
  @media (max-width: 640px) {
    display: none;
  }
}

.default-text {
  color: $text-color;
}
