<template>
  <div
    class="min-h-screen flex items-center justify-center background-login tra py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="background-opacity"></div>
    <div class="inner-login z-10 bg-gray-50 max-w-md w-full space-y-8">
      <img
        src="@/assets/images/logo/AQM-logo-trans.png"
        alt="Logo Air Quality Monitor"
        class="w-2/3 m-auto"
      />
      <div class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <input
              v-model="email"
              id="email-address"
              name="email"
              type="email"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email"
            />
            <label for="email-address" class="sr-only">{{ email }}</label>
          </div>
          <div>
            <input
              v-model="password"
              id="password"
              name="password"
              type="password"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Wachtwoord"
            />
            <label for="password" class="sr-only"> {{ password }}</label>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              v-model="isChecked"
              id="remember_me"
              type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
            />
            <label for="remember_me" class="ml-2 block text-sm text-gray-900">
              Onthouden
            </label>
          </div>
          <div class="text-sm">
            <a
              href="#"
              class="font-medium text-indigo-600 hover:text-indigo-500"
              @click="$router.push({name: 'reset-password'})"
            >
              Wachtwoord vergeten?
            </a>
          </div>
        </div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          v-on:click="login()"
        >
          Inloggen
        </button>
      </div>
    </div>
  </div>
</template>

<script src="@/views/Login/Login.ts" lang="ts" />
